/* dastan this is the start of the CSS file and we are ready to make it work! */


/* divSep this is the General Styles! */

body {
    font-family: 'lato';
    color: #111111;
    position: relative;
    overflow-x: hidden;
}

::selection {
    background-color: #bf92db;
}

section {
    padding: 90px 0;
}

strong {
    font-weight: 900;
}

p {
    font-size: 14px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

hr {
    width: 80px;
    padding: 10px;
    overflow: visible;
}

hr.icon::after {
    content: "\f123";
    display: inline-block;
    position: relative;
    top: -1.1em;
    padding: 0 .30em;
    font-family: 'FontAwesome';
    font-size: 30px;
    ;
    color: #873fb5;
    background-color: #fff;
    /* fixMe this needs to be fixed with the help of Alious */
}


/* divSep this is the section heading part */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    background: #7a25b4;
    width: 250px;
    height: 100%;
    transition: 0.3s;
}

.active {
    left: 0px;
    z-index: 1000;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul li a {
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebarBtn {
    position: absolute;
    top: 20px;
    right: -70px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.sidebarBtn span {
    display: block;
    width: 35px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 24px;
    transition: 0.3s;
}

.sidebarBtn span:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

.sidebarBtn span:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

.sidebarBtn.toggle span {
    background: transparent;
}

.sidebarBtn.toggle span:before {
    top: 0;
    transform: rotate(45deg);
}

.sidebarBtn.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
}


/* nav {
    width: 20%;
    height: 600px;
    background: #ffffff;
    color: #873fb5;
    z-index: 1000;
    position: absolute;
    margin-left: -118px;
    padding-bottom: 330px;
    padding-left: 43px;
    transform: translate3d(0, 0, -100px);
    transition: all 1s ease;
    line-height: 100px;
    opacity: 0;
    pointer-events: none;
}

nav p {
    font-size: 24px;
    font-family: 'lato';
    padding-top: 20px;
    text-align: center;
}

.active-nav {
    transform: translate3d(120px, 0, 0);
    opacity: 1;
    cursor: pointer;
} */

.sectionHeading h3 {
    color: #873fb5;
    font-size: 24px;
    letter-spacing: 3px;
}

.sectionHeading hr {
    color: #873fb5;
    margin-top: 30px;
    margin-bottom: 40px;
}

.home-section {
    background: url(/thesetup/images/header-setup.jpg) fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 600px;
}

.logo {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 70px;
    font-weight: 100;
    display: inline-block;
    padding: 20px;
    margin-top: 200px;
}

#Home h3 {
    margin: 0;
    line-height: 30px;
    font-size: 24px;
    font-weight: 200;
}

.learn-more {
    color: #ffffff;
    font-size: 25px;
    margin-top: 20px;
    position: absolute;
}

.learn-more i {
    position: absolute;
    font-size: 50px;
}

.learn-more .second-arrow {
    top: 8px;
}

.learn-more .third-arrow {
    top: 16px;
}


/* divSep this is the about section */

#about {
    background: url(/thesetup/images/about-us.jpg)fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    min-height: 500px;
    padding-top: 150px;
}

#about h2 {
    font-weight: 100;
}

#about hr {
    margin-bottom: 1px;
}

#about h3 {
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-top: 1px;
}

#about u {
    font-weight: 800;
}


/* divSep this is the services section */


/* fixMe the services section needs a little fix in the border of the display icon */

#services {
    background-image: url(/thesetup/images/);
}

.service-item {
    margin-bottom: 30px;
}

.service-title {
    margin-left: 10px;
    margin-top: -24px;
    display: inline-block;
}

.service-title h4 {
    color: #a56fc8;
}

.service-title h3 {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
}

.service-item i {
    font-size: 48px;
    color: #c1c1c1;
    float: left;
    border-right: 1px solid #873fb5;
    padding-right: 20px;
}


/* divSep this is the skills section */

#skills {
    background: url(/thesetup/images/skills.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    min-height: 450px;
}

#skills h1 {
    font-size: 48px;
}

#skills p {
    margin-bottom: 40px;
    margin-top: 40px;
}

#skills a {
    color: #ffffff;
    border-bottom: 2px solid;
    border-radius: 2px;
    padding-bottom: 5px;
    margin-right: 20px;
    font-size: 16px;
}

#skills a:hover {
    color: #990df0;
    text-decoration: none;
}

.progress {
    height: 30px;
    margin-bottom: 30px;
    opacity: 0.80;
    background-color: #111111;
    box-shadow: none;
    /* dastan: we did not implement border-radius due to bootstrap does have it itself  */
}

.progress-bars h5 {
    font-size: 14px;
    font-weight: 900;
}

.progress-bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7a3c94+1,8d4563+100 */
    background: #7a3c94;
    /* Old browsers */
    background: -moz-linear-gradient(left, #7a3c94 1%, #8d4563 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7a3c94 1%, #8d4563 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7a3c94 1%, #8d4563 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a3c94', endColorstr='#8d4563', GradientType=1);
    /* IE6-9 */
    /* libFile the above code have been captured from https://www.colorzilla.com/gradient-editor/ */
}


/* divSep the portfolio section */

#portfolio {
    font-size: 24px;
}

#portfolio .col-md-4,
.col-sm-6 .col-xs-12 {
    padding: 0px;
    /* fixMe the padding between the elements have not been removed */
}

#portfolio h3 {
    font-weight: 300;
}

.portfolio-thumb,
.portfolio-overlay {
    max-width: 390px;
    height: 270px;
}

.portfolio-overlay {
    /* fixMe */
}

#portfolio .portfolio-thumb img {
    width: 100%;
    height: 100%;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    background: rgba(135, 63, 181, .6);
    padding: 20px 10px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 1;
    cursor: pointer;
}

#portfolio .portfolio-thumb .portfolio-overlay h3 {
    color: #ffffff;
    font-family: 'lato';
    font-weight: 300;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    padding: 10px;
    position: relative;
    transform: translate(0%, 150%);
}

#portfolio .portfolio-thumb .portfolio-overlay a {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/* divSep the stats section */

.stat {
    height: 250px;
    color: #ffffff;
}

.stat h3 {
    margin-top: 30px;
    line-height: 5px;
    font-size: 30px;
}

.stat h2 {
    margin-top: 30px;
    line-height: 5px;
    font-size: 20px;
    font-weight: 200;
}

.stat i {
    padding-top: 50px;
    font-size: 48px;
    position: relative;
}

.code-line-stat {
    background-image: url(/thesetup/images/code-stats.jpg);
    background-size: cover;
}

.feedback-stat {
    background-image: url(/thesetup/images/feedback-stats.jpg);
    background-size: cover;
}

.client-stat {
    background-image: url(/thesetup/images/client-stats.jpg);
    background-size: cover;
}

.project-stat {
    background-image: url(/thesetup/images/project-stats.jpg);
    background-size: cover;
}

.number-along-with::after {
    content: '%';
}


/* divSep this is the author section */

#author {
    background: url(/thesetup/images/author.jpg)fixed;
    background-size: cover;
    min-height: 450px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

#author p {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#author h3 {
    font-size: 24px;
    margin-bottom: 35px;
}

#author h3 span {
    font-size: 18px;
    font-weight: 100;
}

#author img {
    margin-bottom: 35px;
    display: inline;
}


/* divSep the bellow code is for the dots of the slick */

.slick-dots li button::before {
    font-size: 50px;
    color: gainsboro;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 41.25;
    color: rgb(247, 238, 238);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 60px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 41px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* divSep this is the contact section */

#contact input {
    background-color: #f5f5f5;
    border-color: #d1d1d1;
    height: 45px;
}

#contact input:hover {
    background-color: #ffffff;
    border-color: #8d3aa4;
    transition: all 0.2s ease-in-out;
    outline: 0;
}

#contact input:focus {
    background-color: #ffffff;
    border-color: #8d3aa4;
    outline: 0;
}

#contact textarea {
    background-color: #f5f5f5;
    padding-top: 20px;
}

#contact textarea:hover {
    background-color: #ffffff;
    border-color: #8d3aa4;
    transition: all 0.2s ease-in-out;
}

#contact textarea:focus {
    background-color: #ffffff;
    border-color: #8d3aa4;
}

#contact button {
    background-color: #f5f5f5;
    border-color: #d1d1d1;
}

#contact button:hover {
    background-color: #ffffff;
    border-color: #8d3aa4;
    transition: all 0.2s ease-in-out;
}


/* divSep the footer section */

#footer {
    background: url(/thesetup/images/footer-setup.jpg)fixed;
    background-size: cover;
    min-height: 270px;
    color: #ffffff;
}

#footer h2 {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding: 10px;
    font-size: 48px;
    font-weight: 100;
}

#footer .footer-icons i {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


/* divSep the copyright section */

#copyright {
    color: #918c93;
    background-color: #241c29;
    padding-top: 5px;
    height: auto;
}


/* divSep media queries */

@media (min-width: 970px) and (max-width: 1170px) {
    .service-item i {
        float: none;
        border: none;
        display: block;
    }
    .service-item {
        text-align: center;
    }
    .service-title {
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width: 780px) {
    .progress-bars {
        margin-top: 20px;
    }
    .google-map {
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 780px) {
    .portfolio-thumb {
        text-align: center;
        max-width: none;
        width: 100%;
        float: none;
    }
    .portfolio-overlay {
        text-align: center;
        max-width: none;
        width: 100%;
        float: none;
    }
}