/* dastan this is the start of the CSS file and we are ready to make it work! */


/* divSep this is the General Styles! */

body {
    font-family: 'lato';
    color: #111111;
    position: relative;
    overflow-x: hidden;
}

section {
    padding: 90px 0;
}

strong {
    font-weight: 900;
}

p {
    font-size: 14px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

hr {
    width: 80px;
    padding: 10px;
}

hr.icon:after {
    content: "\f123";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .30em;
    font-family: 'FontAwesome';
    font-size: 1.5em;
    color: #873fb5;
    background-color: #fff;
    /* fixMe this needs to be fixed with the help of Alious */
}

.sectionHeading h3 {
    color: #873fb5;
}

.home-section {
    color: #ffffff;
    background-image: url(/thesetup/images/header-setup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.logo {
    border-top: solid #ffffff;
    border-bottom: solid #ffffff;
}

#about {
    background-image: url(/thesetup/images/about-us.jpg);
}

#services {
    background-image: url(/thesetup/images/);
}

#skills {
    background-image: url(/thesetup/images/skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#skills a {
    color: #ffffff;
    border-bottom: solid;
    margin-right: 10px;
    /* fixMe the border have occupied extra space  */
}

#skills a:hover {
    color: #990df0;
    text-decoration: none;
}

.linear-g {
    background-image: linear-gradient(-90deg, red, yellow);
}

#author {
    background-image: url(/thesetup/images/author.jpg);
    background-size: cover;
}

#footer {
    background-image: url(/thesetup/images/footer-setup.jpg);
    background-size: cover;
}

#copyright {
    color: #ffffff;
    background-color: #241c29;
}


/* divSep this is the section where we set the bgimage for each of the stats  */

.stat i {
    color: #ffffff;
}

.code-line-stat {
    background-image: url(/thesetup/images/code-stats.jpg);
    background-size: cover;
}

.feedback-stat {
    background-image: url(/thesetup/images/feedback-stats.jpg);
    background-size: cover;
}

.client-stat {
    background-image: url(/thesetup/images/client-stats.jpg);
    background-size: cover;
}

.project-stat {
    background-image: url(/thesetup/images/project-stats.jpg);
    background-size: cover;
}